<div class="container">
  <div class="row">
    <div class="nine columns offset-by-three text-left">

      <form class="createBlogPost" id="submitEdit">
        {{! POST }}
        {{! title }}
        <div class="mt-5 mb-3">
          <label for="titleInput">Title</label>
          <input class="u-full-width" id="titleInput" maxlength="50" value="{{title}}" />
        </div>
        {{! body }}
        <div class="mb-3">
          <label for="bodyInput">Body</label>
          <textarea class="u-full-width" id="bodyInput" rows="10">{{description}}</textarea>
        </div>
        {{! submit Btn }}
        <div class="text-center">
          <button type="submit" class="button-primary mt-3">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/submitNewEdit.js"></script>
