body {
    margin: 0;
    padding: 0; 
  }
.container {
    width: 100%; 
    margin: 0; 
    padding: 0; 
  }
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 0.25rem; 
    border: 1px solid rgba(0, 0, 0, 0.125); 
    padding: 1rem; 
    margin-bottom: 1rem; 
}

.card-header {
    background-color: #f8f9fa; 
    padding: 0.75rem 1.25rem; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}

.card-body {
    padding: 1.25rem; 
}

.card-title {
    margin-bottom: 0.75rem
}
    
.mb-4 {
    margin-bottom: 1.5rem; 
  }
.navBar {
    padding: 20px 0; 
    width: 100vw;
    background-color: #f8f9fa;
   
    opacity: 75%;
  }
  
.navBar nav a {
    margin-left: 30px;
    margin-right: 5px; 
    font-size: 15px; 
    text-decoration: none;
    color: black;


}
 
.navBar nav button {
    margin-left: 5px;
    margin-right: 3px; 
    font-size: 10px; 
    border: none;
    color: black;
}
h1 {
     margin-top: 5px;
    margin-left: 25px;
    padding-top: 5px;
}
h3 a {
    text-decoration: none;
}
main {
    margin-top: 10px;
    margin-left: 350px;
    width: 100vw;

}
.navBar nav a:hover,
.navBar nav button:hover {
    opacity: 50%; 
    font-weight: 425;
}
.custom-width {
    width: 88%;
}
.user-name {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 0.25rem; 
  border: 1px solid rgba(0, 0, 0, 0.125); 
  padding: 1rem; 
  margin-bottom: 1rem; 
  background-color: #f8f9fa; 
  padding: 0.75rem 1.25rem; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
  
}
